.mapit {
  height: 300px;
  width: 100%;
  /* background: #000 url('/images/soc05.jpg') no-repeat center center; */
  color:#fdbe00;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
